@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("../fonts/Open_Sans/OpenSans_Condensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/static/DMSans_18pt-Light.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: visible;
}

ul {
  color: white;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Poppins";
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  background-color: black;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 4;
}
@media (max-width: 900px) {
  nav {
    display: none;
  }
}
nav .icon {
  display: flex;
  padding-left: 2%;
}
nav .icon img {
  max-width: 250px;
}
nav .options {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  align-items: center;
  font-size: larger;
  padding-right: 4%;
}
nav .options ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5%;
}
nav .options ul a {
  width: 100%;
  display: flex;
  margin-right: 100%;
  transition: all 0.3s ease-in-out;
}
nav .options ul a:hover {
  color: lightsalmon;
}

.hidden-menu {
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 10;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 900px) {
  .hidden-menu {
    display: flex;
    transform: translateX(-100%);
  }
}
.hidden-menu .icon-bar {
  display: flex;
  justify-content: flex-end;
}
.hidden-menu .icon-bar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.hidden-menu .icon-bar img {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  max-width: 40px;
  z-index: 4;
}
.hidden-menu .icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hidden-menu .icon img {
  max-width: 300px;
}
.hidden-menu .options {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  font-size: large;
  margin-left: 20%;
  line-height: 2.2;
}
.hidden-menu .options ul {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  gap: 5%;
}
.hidden-menu .options ul a {
  width: 50%;
  font-size: larger;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.hidden-menu .options ul a:hover {
  color: lightsalmon;
}

.small-screen {
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: none;
  top: 0%;
  position: sticky;
}
@media (max-width: 900px) {
  .small-screen {
    display: flex;
  }
}
.small-screen .icon {
  display: flex;
}
.small-screen .icon img {
  max-width: 230px;
}
.small-screen .icon-bar {
  display: flex;
  width: 14%;
}
.small-screen .icon-bar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.small-screen .icon-bar img {
  cursor: pointer;
  max-width: 40px;
}

.image {
  width: 100%;
}
.image img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.information-menu {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  color: white;
  display: flex;
  width: 96%;
}
@media (max-width: 900px) {
  .information-menu {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.information-menu h1 {
  font-family: "Poppins";
  font-size: 200%;
}
.information-menu h2 {
  font-family: "DM_Sans";
}
.information-menu p, .information-menu li {
  font-size: larger;
  font-family: "Open_Sans";
  text-align: justify;
}
.information-menu h3 {
  font-family: "Open_Sans";
  font-size: larger;
}

.food_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.food_menu h2 {
  font-family: "DM_Sans";
}
.food_menu h3 {
  font-family: "DM_Sans";
  font-size: larger;
}
.food_menu p {
  font-size: larger;
  font-family: "Open_Sans";
  text-align: justify;
}
.food_menu .food {
  width: 47%;
  margin: 1.5%;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(10, 10, 10);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .food_menu .food {
    width: 100%;
    margin-left: 2%;
    padding: 0;
  }
}
.food_menu .food .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin-right: 2.5%;
  width: 30%;
}
@media (max-width: 900px) {
  .food_menu .food .image {
    margin-right: 1%;
  }
}
.food_menu .food .image img {
  width: 210px;
  height: 210px;
  max-width: 210px;
  max-height: 210px;
}
@media (max-width: 900px) {
  .food_menu .food .image img {
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
  }
}
.food_menu .food .information {
  width: 65%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: 5%;
  overflow: hidden;
}
@media (max-width: 900px) {
  .food_menu .food .information {
    width: 50%;
    padding-right: 0;
    justify-content: flex-end;
  }
}
.food_menu .food .information .button {
  display: flex;
  justify-content: flex-end;
}
.food_menu .food .information .button button {
  cursor: pointer;
  border: none;
  margin-bottom: 5%;
  font-family: "Poppins";
  background-color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.food_menu .food .information .button button:hover {
  background-color: lightsalmon;
}
.food_menu .food:hover {
  background-color: rgb(40, 40, 40);
}

.buy-pizza {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  z-index: 5;
  justify-content: center;
  align-items: center;
}
.buy-pizza .order-menu {
  display: flex;
  padding: 2%;
  flex-direction: column;
  border-radius: 15px;
  width: 50%;
  min-width: 450px;
  background-image: url("../images/pizzabg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.buy-pizza .order-menu h1 {
  font-family: "Poppins";
  margin: 0;
}
.buy-pizza .order-menu h2 {
  font-family: "DM_Sans";
  font-size: large;
  font-weight: 300;
  margin-top: 2%;
}
.buy-pizza .order-menu label {
  font-family: "DM_Sans";
  font-weight: 300;
  font-size: large;
  margin-top: 2%;
}
.buy-pizza .order-menu select {
  font-size: larger;
  color: white;
  font-family: "Open_Sans";
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-top: 2%;
}
.buy-pizza .order-menu option {
  color: white;
  border: none;
  background-color: rgb(0, 0, 0);
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.buy-pizza .order-menu option:hover {
  background-color: lightcoral;
}
.buy-pizza .order-menu select:focus {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.buy-pizza .order-menu .size-button, .buy-pizza .order-menu .style-button, .buy-pizza .order-menu .buy-options {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap: 2%;
}
.buy-pizza .order-menu .size-button button, .buy-pizza .order-menu .style-button button, .buy-pizza .order-menu .buy-options button {
  border-radius: 5px;
  min-height: 35px;
  min-width: 130px;
  font-family: "Poppins";
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  transition: all 0.4s ease-in-out;
}
.buy-pizza .order-menu .buy-options {
  margin-top: 2%;
}
.buy-pizza .order-menu .buy-options .agregar-carrito:hover {
  background-color: lightgreen;
}
.buy-pizza .order-menu .buy-options .cancelar-compra:hover {
  background-color: lightcoral;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

#submitBtn[disabled] {
  color: black;
  background-color: #ECECEC;
}

.login-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  overflow-y: hidden;
}
.login-menu input {
  background-color: white;
  padding-left: 2%;
  border: none;
  min-width: 340px;
  font-family: "Open_Sans";
  min-height: 30px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 900px) {
  .login-menu input {
    margin-left: 0%;
    margin-right: 0%;
    min-width: 220px;
  }
}
.login-menu input:focus {
  border: none;
  outline: none;
}
.login-menu .login-image {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.login-menu .login-image img {
  max-height: 800px;
  width: 100%;
  object-fit: cover;
  min-height: 545px;
}
@media (max-width: 900px) {
  .login-menu .login-image img {
    min-height: 800px;
    max-height: 1000px;
  }
}
.login-menu .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login-menu .form {
  justify-content: center;
  border-radius: 20px;
  display: flex;
  margin-top: 2%;
  width: 50%;
  height: 100%;
  max-height: 800px;
  min-width: 440px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
@media (max-width: 900px) {
  .login-menu .form {
    width: 100%;
    height: 100%;
    min-width: 0px;
    margin-top: 0%;
    min-height: auto;
    align-items: center;
    justify-content: center;
  }
}
.login-menu .form .tittle {
  display: flex;
  width: 90%;
  margin-left: 5%;
}
.login-menu .form h1 {
  font-family: "Poppins";
  margin-left: 0%;
  margin-top: 5%;
}
@media (max-width: 900px) {
  .login-menu .form h1 {
    margin-left: 5%;
  }
}
.login-menu .form h2, .login-menu .form p {
  font-family: "DM_Sans";
  font-size: large;
  margin-left: 5%;
}
@media (max-width: 900px) {
  .login-menu .form h2, .login-menu .form p {
    margin-left: 0;
  }
}
.login-menu .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (max-width: 900px) {
  .login-menu .form form {
    width: 70%;
    align-items: center;
  }
}
.login-menu .form form button {
  background-color: white;
  border: none;
  font-family: "Poppins";
  border-radius: 5px;
  max-width: 250px;
  min-height: 30px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 900px) {
  .login-menu .form form button {
    width: 150%;
    margin-left: 0;
    margin-top: 10%;
    margin-bottom: 2%;
  }
}
.login-menu .form form button:hover {
  cursor: pointer;
  background-color: lightsalmon;
}

.carrito {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 1%;
  right: 0.8%;
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px;
  max-height: 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
  line-height: 10%;
  gap: 5%;
  z-index: 4;
}
.carrito h1, .carrito h3 {
  font-family: "Open_Sans";
}

.order-button-django {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#django_order {
  margin: 5%;
  display: flex;
  width: 80%;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  min-height: 40px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

#django_order:hover {
  cursor: pointer;
  background-color: lightgreen;
}

#swal2-title {
  font-family: "Poppins";
}

.complete-order {
  background-color: white;
  color: black;
  border: none;
  margin-left: 4.2%;
  border-radius: 5px;
  min-height: 30px;
  min-width: 200px;
  font-family: "Poppins";
  transition: all 0.3s ease-in-out;
}

.complete-order:hover {
  background-color: lightcoral;
}

/*# sourceMappingURL=style.css.map */
